command_timeout = 1000

[directory]
truncation_length = 3
truncate_to_repo = true
read_only = ""

[git_status]
disabled = true

[battery]
disabled = true

[nodejs]
disabled = true

[deno]
disabled = true
